body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

div {
  box-sizing: border-box;
}

.content h3 {
  color: #22577e;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap {
  width: 700px;
  height: 450px;
  background-color: powderblue;
  margin: auto;
}

.content {
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

.first-tr td {
  padding: 5px;
  color: #22577e;
}

tr {
  border: 1px solid powderblue;
  text-align: center;
}

td {
  width: 110px;
  background-color: white;
  font-size: 11px;
  font-weight: bold;
}

.sony-item p {
  color: black;
}

.sony-item {
  width: 250px;
  height: 50px;
  color: royalblue;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 0px 0px;
}

.footer button {
  padding: 20px;
  background-color: #325288;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
}

.footer a {
  color: #22577e;
  font-size: 14px;
}
